@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--body-bg: #f1efef;
	--main-bg: #ccc8aa;
	--sec: #7d7c7c;

	--primary: #191717;
	--secondary: #213555;
	--tri: #4f709c;
	--clr-1: #e5d283;
	--clr-2: #f0f0f0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	font-family: "Poppins", sans-serif;
	background-color: var(--body-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	padding: 5px 20px;
	width: 100%;
	background-color: var(--secondary);

	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;

	& .log {
		flex: 1;
		font-size: 2.2rem;
		font-weight: 500;
		color: var(--body-bg);
	}

	& ul.navbar {
		flex: 1;
		display: flex;
		justify-content: space-around;
		/* background-color: yellow; */
	}
}

/* navbar */
ul.navbar {
	& li {
		list-style: none;
		transition: opacity 0.3s ease-in-out;
	}
	& a {
		text-decoration: none;
		font-size: 1.2rem;
		color: #f5f5f5;
	}

	/* opacity */
	&:hover > li {
		opacity: 0.4;
		transform: scale(0.95);
	}

	&:hover li:hover {
		opacity: 1;
		transform: scale(1);
	}
}

/* Main */
main {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 10px;

	position: relative;
	z-index: 10;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		opacity: 0.8;
		background: radial-gradient(
			circle,
			rgba(255, 0, 0, 0.164) 15%,
			transparent 11%
		);
		background-size: 3em 3em;
		background-position: center;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}
	&::after {
		content: "";
		width: 100%;
		height: 20vh;
		background: linear-gradient(
			0deg,
			var(--body-bg),
			rgba(255, 255, 255, 0.01)
		);
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
main > div {
	width: 35vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.hero-banner {
	& h1 {
		color: var(--secondary);
		font-weight: 700;
		font-size: 2.5rem;
	}
	& p {
		font-size: 1.3rem;
		color: var(--primary);
	}

	& button {
		margin-top: 10px;
		padding: 7px 16px;
		background-color: transparent;
		background-color: #4f709c90;
		border: 1px solid var(--tri);
		font-size: 1.3rem;
		color: var(--clr-2);
		border-radius: 5px;
		cursor: pointer;
		transform: all 0.6s ease-in-out;
	}
}

.hero-banner button {
	position: relative;
	z-index: 10;
	&::before {
		content: "";
		width: 1%;
		height: 100%;
		background-image: linear-gradient(
			to right top,
			#213555,
			#2c4366,
			#385278,
			#43618a,
			#4f709c
		);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		transition: width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	&:active {
		transform: scale(0.98);
	}

	&:hover::before {
		width: 100%;
	}
}

.hero-image {
	border-radius: 10px;
	position: relative;
	z-index: 10;

	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	&:hover::before {
		border: 2px solid var(--secondary);
		top: -10px;
		left: -10px;
		z-index: -1;
		opacity: 1;
	}
	&:hover:after {
		border: 4px solid var(--secondary);
		top: -25px;
		left: -25px;
		z-index: -1;
		opacity: 1;
	}
}
.hero-image img {
	width: 100%;
	height: 100%;
}

/* section */
/*  Featured Products: */

.Featured-Products {
	padding: 15px;
	width: 100%;
	/* height: 50vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h1 {
		font-size: 2.5rem;
		color: var(--secondary);
		margin-bottom: 10px;
	}
}

.products-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	place-items: center;
}

.product {
	padding-bottom: 10px;
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;
	background-color: var(--secondary);
	& img {
		width: 100%;
		height: 50%;
	}
}

.product-info {
	margin: 5px;
	padding: 0 10px;
	height: 50%;
	color: var(--clr-2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	text-align: left;

	.name-and-price {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	& button {
		padding: 6px 12px;
		font-size: 1.2rem;
		background-color: var(--clr-1);
		color: var(--secondary);
		font-weight: 500;
		border: 1px solid transparent;
		border-radius: 6px;
		cursor: pointer;
		&:active {
			transform: scale(0.98);
		}
	}
}

/* Section Newsletter */
.newsletter-container {
	width: 100%;
	height: 50vh;

	display: grid;
	place-items: center;

	.Newsletter {
		padding: 10px;
		width: 80%;
		height: 50%;
		border-radius: 12px;
		background-color: var(--clr-1);
		color: var(--secondary);
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.Newsletter button {
	padding: 7px 16px;
	border-radius: 5px;
	border: 1px solid transparent;
	cursor: pointer;
	color: var(--secondary);
	font-size: 1.2rem;
	&:active {
		transform: scale(0.98);
	}
}

/* FOOTER */
footer {
	width: 100%;
	height: 10vh;
	background-color: var(--secondary);
	font-size: 1.4rem;
	display: grid;
	place-items: center;
	color: var(--clr-2);
}

/* responsive */

@media (max-width: 786px) {
	nav {
		& .log {
			font-size: 2rem;
		}
	}
	.navbar {
		column-gap: 10px;
		& li > a {
			font-size: 01rem;
		}
	}
	main {
		& .hero-banner > h1 {
			font-size: 1.8rem;
			line-height: 1.3;
		}

		& .hero-banner > p {
			font-size: 1rem;
		}

		& .hero-banner button {
			padding: 4px 12px;
			font-size: 1rem;
		}

		& .hero-image {
			height: 40%;
		}
	}
	.products-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 640px) {
	.log {
		display: none;
	}

	main {
		height: 60vh;

		& .hero-banner h1 {
			font-size: 1.2rem;
		}
		& .hero-banner p {
			font-size: 0.8rem;
		}
	}
	.Featured-Products h1 {
		font-size: 1.5rem;
	}
	.product {
		width: 250px;
		height: 360px;

		.name-and-price {
			font-size: 0.9rem;
			& h2 {
				font-size: 1rem;
			}
		}
		.desc {
			font-size: 0.9rem;
		}

		& button {
			padding: 4px 12px;
			font-size: 1rem;
		}
	}

	.Newsletter-headings {
		& h1 {
			font-size: 1rem;
		}
		& p {
			font-size: 0.9rem;
		}
	}
	.Newsletter {
		& button {
			font-size: 0.8rem;
		}
	}

	.footer {
		font-size: 1.5rem;
	}
}

@media (max-width: 480px) {
	main {
		height: 45vh;

		& .hero-banner h1 {
			font-size: 1.2rem;
		}
		& .hero-banner p {
			font-size: 0.8rem;
		}
	}
	.hero-banner {
		min-width: 80%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.hero-image {
		display: none;
	}

	.Featured-Products h1 {
		font-size: 1.2rem;
	}
	.product {
		width: 200px;
		height: 300px;

		.name-and-price {
			font-size: 0.8rem;
			& h2 {
				font-size: 0.9rem;
			}
		}
		.desc {
			font-size: 0.8rem;
		}

		& button {
			padding: 4px 10px;
			font-size: 0.9rem;
		}
	}

	.Newsletter-headings {
		& h1 {
			font-size: 0.9rem;
		}
		& p {
			font-size: 0.75rem;
		}
	}
	.newsletter-container {
		height: 40vh;
	}
	.Newsletter {
		& button {
			padding: 4px 10px;
			font-size: 0.75rem;
		}
	}

	footer {
		font-size: 1rem;
	}
}

@media (max-width: 380px) {
	.navbar {
		column-gap: 10px;
		& li > a {
			font-size: 0.6rem;
		}
	}
	main {
		height: 35vh;

		& .hero-banner h1 {
			font-size: 0.9rem;
		}
		& .hero-banner p {
			font-size: 0.7rem;
		}
	}
	.hero-banner {
		min-width: 70%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.hero-image {
		display: none;
	}

	.Featured-Products h1 {
		font-size: 0.9rem;
	}
	.product {
		width: 160px;
		height: 240px;
		.name-and-price {
			font-size: 0.6rem;
			& h2 {
				font-size: 0.75rem;
			}
		}
		.desc {
			font-size: 0.5rem;
		}

		& button {
			padding: 2.5px 4px;
			font-size: 0.9rem;
		}
	}

	.Newsletter-headings {
		& h1 {
			font-size: 0.75rem;
		}
		& p {
			font-size: 0.6rem;
		}
	}
	.newsletter-container {
		height: 30vh;
	}
	.Newsletter {
		& button {
			padding: 4px 10px;
			font-size: 0.6rem;
		}
	}

	footer {
		font-size: 0.85rem;
	}
}
